# Configuration
$env.config.history.file_format = "sqlite"
$env.config.history.isolation = true
$env.config.show_banner = false 
$env.config.table.header_on_separator = true # show header text on separator/border line
$env.config.table.footer_inheritance = true # render footer in parent table if child is big enough (extended table option)

# Aliases
alias co = code .

# Starship setup
mkdir {{ .configPath }}/starship
starship init nu | save -f {{ .configPath }}/starship/init.nu
source {{ .configPath }}/starship/init.nu

# Zoxide setup
mkdir {{ .configPath}}/zoxide
zoxide init nushell | save -f {{ .configPath}}/zoxide/init.nu
source {{ .configPath }}/zoxide/init.nu

# Sources
source $"($nu.data-dir)/scripts.nu"

# Custom completions
source {{ .configPath }}/nu_scripts/custom-completions/bitwarden-cli/bitwarden-cli-completions.nu
source {{ .configPath }}/nu_scripts/custom-completions/git/git-completions.nu
source {{ .configPath }}/nu_scripts/custom-completions/npm/npm-completions.nu
source {{ .configPath }}/nu_scripts/custom-completions/pnpm/pnpm-completions.nu
source {{ .configPath }}/nu_scripts/custom-completions/scoop/scoop-completions.nu

# Configuring fnm
fnm env --json | from json | load-env
use std "path add"
$env.FNM_BIN = $"($env.FNM_DIR)/bin"
path add $env.FNM_BIN
$env.FNM_MULTISHELL_PATH = $"($env.FNM_DIR)/nodejs"
path add $env.FNM_MULTISHELL_PATH
